PORT= insert port number
MONGO_URL= insert MONGO_URL
JWT_SECRET= create jwt code
CLOUDINARY_NAME= your Cloudinary cloud name
CLOUDINARY_API_KEY= your Cloudinary API key
CLOUDINARY_API_SECRET= your Cloudinary API secret

